extends layout

block content
  head
    link(href='/stylesheets/ream.css' rel='stylesheet')

  div
    img(src="/images/REAM'D_palette_3.png")
  div
    iframe(width='560' height='315' src='https://www.youtube.com/watch?v=0LNZxhHSy4Y?autoplay=1&modestbranding=1' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  #players(margin-top='100')
    .player_container
      a(href='https://steamcommunity.com/profiles/76561198049003674/')
        img.profile(src='https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/dc/dc8c423d460b9326d8fd3e8a05207f91a0301931_full.jpg')
    .player_container
      a(href='https://steamcommunity.com/id/chaching3579/')
        img.profile(src='https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/04/04cef60e3e8ba783a85b941395d53e455754dc7a_full.jpg')
    .player_container
      a(href='https://steamcommunity.com/id/Sixteen2628/')
        img.profile(src='https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/6a/6ad0f6a1b18187d62a7165166a23016ccc4fadc8_full.jpg')
    .player_container
      a(href='https://steamcommunity.com/id/TwentySeven72/')
        img.profile(src='https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/a9/a942eb318c64963d5ce5d2ac595f6314539c28f7_full.jpg')
    .player_container
      a(href='https://steamcommunity.com/profiles/76561198069453400/')
        img.profile(src='https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/4d/4d4ab492dc5e64671e958f9db1a0e4971e48bbce_full.jpg')
    .player_container
      a(href='https://steamcommunity.com/profiles/76561198198373357/')
        img.profile(src='https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/7a/7a6301368e0ca0e97c272e876df35f4b6972aa62_full.jpg')
