extends layout

block content
  .content-wrapper
  .charts
  .filters-wrapper
    select.Filter(onchange='javascript:void(0)')
      option(value='' selected='') Filler
  .table-wrapper
    table
      tr
        th(colspan='3')
        th.user-header(colspan='3') Tim
        th.user-header(colspan='3') Ryan
        th.user-header(colspan='3') Collin
        th.user-header(colspan='3') Sean
        th.user-header(colspan='3') Cal
        th.user-header(colspan='3') Sharfin
        th.user-header(colspan='3') Josh
      tr
        th Date
        th Map
        th Score
        th.user-header Rating
        th ADR
        th KDA
        th.user-header Rating
        th ADR
        th KDA
        th.user-header Rating
        th ADR
        th KDA
        th.user-header Rating
        th ADR
        th KDA
        th.user-header Rating
        th ADR
        th KDA
        th.user-header Rating
        th ADR
        th KDA
        th.user-header Rating
        th ADR
        th KDA
      tr
        td 3/2/2019
        td Inferno
        td 16-8
        td 1.24
        td 96.8
        td 1.54
        td 105.7
        td 1.46
        td 88.8
        td
        td
        td
        td
        td .75
        td 65.7
        td
        td
